* {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.main-body {
  background-color: hsl(0, 0%, 100%);
  width: 220px;
  border-radius: 10px;
  margin-top: auto;
}

.main-body .bold-text {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  padding: 0 20px;
  margin: 5px;
}

.main-body .highlighted-text {
  background-color: hsl(216, 25%, 78%);
  padding: 0 1px;
}

.main-body .sub-text {
  font-weight: 400;
  font-size: 10px;
  color: hsl(216, 15%, 48%);
  padding: 0 25px;
  margin-bottom: 25px;
}

.qr-code {
  width: 200px;
  border-radius: 20px;
  padding: 10px;
}

.attribution,
.attribution a {
  font-size: 10px;
  margin-top: auto;
}
